/*
subpage-button : tm-main-nav
navbar-button : #tmNavbar
main-images : main-images
section : tm-section
head-title : tm-title
head-title-bottom : tm-title-bottom
head-title-sub : tm-subtitle
m-bottom20 : tm-margin-b-20
button : tm-btn



*/

/*global values to do not write style in every needed line*/

.m-bottom20 {margin-bottom: 20px; }
.m-bottom30 {margin-bottom: 30px; }
.m-top30 {margin-top: 30px; }
.m-top70 { margin-top: 70px; }    /*mozna wykurwic*/

h2 { font-size: 2.2rem; }
.tm-thin-font { font-weight: 300; }

body {
	color: #8c8c8c;
	/*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
    font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	overflow-x: hidden;
}
footer {
	color: #c6c6c6;
	background-color: #191919;
	background-image: url('../img/classic-pattern-bg.png');
	font-size: 1rem;
	padding-top: 40px;
	padding-bottom: 20px;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}



.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1390px;
	overflow-x: hidden;
}

/*
@media (max-width: 1390px) {
	.container-fluid {
		padding-left: 5%;
		padding-right: 5%;
	}
}
*/

.header {
    height: 120px;
    justify-content: space-between;
    align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
    -ms-flex-align: center;
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
}

.header-name {
	color: #cc9900;
	display: block;
	font-size: 2.5rem;
	font-weight: 400;
}

.subpage-button { font-size: 1rem; }

.navbar-nav .nav-link {
	border-radius: 6px;
	color: darkgreen;
	padding: 10px 40px;
}

.nav-item.active .nav-link,
.nav-link:hover,
.nav-link:focus {
	color: white;
	background-color: #cc9900;

}

.text-colour { color: #136632; }

.section-responsive {
	padding-top: 80px;
	padding-bottom: 100px;
}

.main-images {
	background-image: url('../img/tm-home-img.jpg');
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
}

.tm-about-img-container { background-image: url('../img/tm-about-img.jpg');	}
.tm-blog-img-container { background-image: url('../img/tm-blog-img.jpg'); }
.tm-contact-img-container { background-image: url('../img/tm-contact-img.jpg'); }

.tm-about-img-container,
.tm-blog-img-container,
.tm-contact-img-container {
	background-size: auto 200px;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
}

.head-title {
	margin-bottom: 1rem;
	line-height: 1.4;
}
.head-title-bottom {
	margin-bottom: rem;
    text-align: center;
	line-height: 1.4;
}

.head-title-sub {
	font-size: 1.4rem;
	max-width: 800px;
	margin: 0 auto 80px;
}

.small-news-boxes {
	max-width: 310px;
	margin: 0 auto;
}

h3 { font-size: 1.65rem; }
h4 { 
	font-size: 1.4rem;
	line-height: 1.6;
}

.button {
	color: white;
	background-color: #136632;
	border: none;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 30px;
}

.button:hover,
.button:focus {
	background-color: darkgreen;
	color: ghostwhite;
	outline: none;
}

.tm-btn-gray { background-color: #666666; }
.tm-btn-gray:hover,
.tm-btn-gray:focus {
	background-color: #515050;	
}

.tm-margin-b-15 { margin-bottom: 15px; }


.tm-margin-b-40 { margin-bottom: 40px; }

.tm-margin-t-mid { margin-top: 0px; }
.tm-margin-t-small { margin-top: 30px; }

.tm-text-link { 
	color: #006699; 
	line-height: 2.8;
	text-decoration: underline;
}
.tm-overflow-auto { overflow: auto; }
.tm-small-font { font-size: 1rem; }
.tm-related-post { margin-bottom: 40px; }
.tm-related-post:last-child { margin-bottom: 0; }
.media-left { padding-right: 25px; }
.media-body {
	border-bottom: 1px solid #ccc;
	padding-bottom: 25px;
}

.tm-media-description { margin-bottom: 0; }




/*.tm-footer-links-container { padding-left: 10px; }*/

.footer-link {
	color: #CCCC66;
	line-height: 2.8;
	text-decoration: underline;
}

.footer-link:hover,
.footer-link:focus {
	color: #CCCC66;
	text-decoration: none;
}

.tm-copyright-text { 
	color: #999999; 
	margin-bottom: 0;
}

hr { border-top: 1px solid #CCCCCC; }
p { line-height: 1.9; }

.tm-gray-bg { 
	background-color: #CCCCCC; 
	color: black;
	padding: 30px 20px 20px;
}
.tm-footer-content-box-title { margin-bottom: 30px; }

.tm-img-post { margin-bottom: 30px; }

.tm-aside-r { padding-left: 30px; }

.form-control {
	border-radius: 0;
	font-size: 1.1rem;
	padding: 0.75rem 1rem;
}

.form-control:focus { border-color: #CC9900; }

.tm-form-description { margin-top: 30px; }
.tm-contact-form { padding-top: 20px; }

#google-map {
    height: 333px;
    width: 100%;
    margin-top: 40px;
}

.tm-contact-right { padding-left: 30px; }
.tm-p-small { font-size: 1rem; }

@media (max-width: 1199px) {
	.tm-text-link {
		line-height: 2.2;
	}
	.container-fluid {
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media (max-width: 991px){

	.main-images {
		background: none;
		height: auto;
	}

	.head-title-sub { margin-bottom: 40px; }
    
	/* These are navbar buttons*/
	#navbar-button .navbar-nav .nav-link { padding: 15px 25px; }
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}

	/*.news-boxes { margin-bottom: 50px; }*/
	.tm-text-link { line-height: 2.4; }

	.section-responsive {
	    padding-top: 50px;
	    padding-bottom: 60px;
	}

/*
	.tm-2-col-left, .tm-2-col-right { 
		margin: 0 auto ;
		max-width: 660px; 
	}
*/
	
	.media { max-width: 100%; }
	.media-left {
		display: table-cell;
		margin-bottom: 0;
	}


	.tm-2-rows-md-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.tm-2-rows-md-down-1 {
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;		
	}
	.tm-2-rows-md-down-2 {
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.tm-contact-right { 
		padding-left: 15px; 
		padding-top: 40px;
	}
}

/*
@media (max-width: 897px) {
	.button {
		padding: 10px 15px;
		font-size: 1rem;
	}
}
*/

@media (max-width: 767px) { /* old tm-main-nav*/
	.subpage-button {
		position: fixed;
		right: 0;
		top: 21px;
		z-index: 1000;
	}
	#navbar-button .navbar-nav .nav-item { float: none; }
	#navbar-button .navbar-nav .nav-link { padding: 10px 35px; }
	#navbar-button {
		background: white; 
		border-radius: 6px;
	}
	#navbar-button .navbar-nav .nav-item+.nav-item { margin-left: 0px; }
    
    /*wysuwajace sie*/
	.navbar-toggler {
		background: white;
        margin-top: 15px;
		border-color: #167539;
		color: #167539;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
	.navbar-toggler:focus { outline: none; }
	.navbar-toggler:hover { background: ghostwhite; }
    
	/*.news-boxes { margin-bottom: 50px; }*/
	
/*
	.tm-2-col-left {
		max-width: 600px;
	}
*/

	.tm-margin-b-40 { margin-bottom: 25px; }
	
	.tm-copyright-text { padding-top: 0; }
	.tm-gray-bg { padding: 20px 20px 10px; }

	.tm-2-rows-sm-swap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.tm-2-rows-sm-down-1 {
		-webkit-order: 1;
		    -ms-flex-order: 1;
		        order: 1;		
	}
	.tm-2-rows-sm-down-2 {
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 0;
		margin-top: 30px;		
	}

	.tm-sm-m-b { margin-bottom: 20px; }
	.tm-aside-r { padding-left: 15px; }
	.tm-aside-container {
		max-width: 310px;
		margin: 0 auto;
	}

	.tm-blog-post {	padding-bottom: 10px; }
	.tm-content-box-contact {
		margin-top: 40px;
		margin-bottom: 0;
	}

	.tm-contact-row-related-posts {	margin-top: 40px; }
}

/*
@media (max-width: 543px) {
	.tm-footer-links-container { padding-left: 0; }
	.tm-xs-m-t { margin-top: 20px; }
	.tm-btn { padding: 10px 30px; }
}
*/

@media(max-width: 510px) {
	.media { max-width: 240px; }
	.media-left {
		display: block;
		margin-bottom: 20px;
	}
		
	.section-responsive {
		padding-top: 10%;
		padding-bottom: 10%;
	}
    .button { padding: 10px 30px; }

	.tm-margin-b-40 { margin-bottom: 15px; }
	/*.news-boxes { margin-bottom: 40px; }*/
	.tm-margin-t-mid { margin-top: 30px; }
	.tm-footer-content-box-title { margin-bottom: 15px; }
	#google-map { margin-top: 25px; }
	.tm-map-section { margin-top: 50px; }

	.tm-contact-related-posts-container {
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;
	}
    .padding30{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media(min-width: 100px)
{
    small-news-boxes: {
        margin-bottom: 50px;
    }

}
