:root{
    font-size: 16px;
}
.logo {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100px;
}

.navbar-brand{
    float:left;
    padding-top:.25rem;
    padding-bottom:.25rem;
    margin-right:1rem;
    font-size:1.25rem    
    
}

.tm-site-name {
	color: #cc9900;
	display: block;
	font-size: 2.6rem;
	font-weight: 400;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1390px;
	overflow-x: hidden;
}

.navbar{
    position:relative;
    padding:.5rem 1rem
}

.tm-main-nav { font-size: 1.2rem; }




@media (min-width: 800px) {
	.container-fluid {
		padding-left: 5%;
		padding-right: 5%;
	}
}
@media (max-width: 800px) {
	.container-fluid {
		padding-left: 5%;
		padding-right: 5%;
    }
    .tm-main-nav {
		position: fixed;
		right: 0;
		top: 21px;
		z-index: 1000;
	}
    
    #tmNavbar .navbar-nav .nav-item { float: none; }
	#tmNavbar .navbar-nav .nav-link { padding: 10px 35px; }
	#tmNavbar {
		background: white; 
		border-radius: 6px;
	}
	#tmNavbar .navbar-nav .nav-item+.nav-item { margin-left: 0; }
	.navbar-toggler {
		background: white;
		border-color: #cc9900;
		color: #cc9900;
		display: block;
		margin-left: auto;
		margin-right: 0;
	}
}