/**/
/* To better manage the styling of all pages I have decided to make three separate .css files*/
/* This CSS file is styling one page: games.html */
/**/

/*----------*/
/* General */
/*----------*/

/* scrollbar*/
/* - https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* - More in the report.html in "Custom scrollbar" section*/
body::-webkit-scrollbar {
    width: 1rem;
}
body::-webkit-scrollbar-track {
    background: #2e362f;
}
body::-webkit-scrollbar-thumb {
    background: #c73e14;
}
body::-webkit-scrollbar-thumb:hover {
  background: #de4a1d;
}

/* font used in the body section*/
body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

/* progress bar that appears on pages*/
/* - this code is written by myself*/
/* - more in the script.js */
.progressBar { 
    background-color: red;
    position: fixed;  
    left: 0;
    top: 0;
    height: 4px; 
    opacity: 1;
    z-index: 100;
}

/* maintains the size of sections/site*/
/* - this code is written by myself*/
.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1380px;
	overflow-x: hidden;
}

/* links colour*/
/* only used in the footer in as the report.html link*/
a {
    color: #e8633a;
}
a:hover {
    color: #fa6d42;
    text-decoration: none;
}

/* headings styling*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* titles size and position*/
/* - this code is written by myself*/
.head-title {
	margin-bottom: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: black;
	line-height: 1.5;
}

/* section colours*/
/* - this code is written by myself*/
.section-color-white {
    background-color: white;
}
.color-change-from-white {
    background-color: #171717; /*darkmode*/
}
.section-color-ghostwhite {
    background-color: ghostwhite; 
}
.color-change-from-ghostwhite {
    background-color: #121212; /*darkmode*/
}
/* author small column section*/
.section-color-gray{
    background-color: lightgray;
    border-radius: 8px;
}
.color-change-from-gray {
    background-color: #121212; /*darkmode*/
}

/* few useful positioning classes*/
.m-rightAuto {margin-right: auto;}
.m-bottom20 {margin-bottom: 20px;}

.display-flex {display: flex;}
.align-center {align-items: center;}
.text-center {text-align: center;} 

/*----------*/
/* Newsletter section */
/* - This section was copied and modified */
/* - https://bootsnipp.com/snippets/gN8P1 */
/* - More in the report.html in Newsletter section*/
/*----------*/

/* newsletter section padding and text alignment */
/*  - changed: padding */
/*  - added: text-align */
/*  - deleted: background */
.newsletter {
    padding: 80px 20px;
    text-align: center;
}
/* newsletter max-width */
/*  - changed: max-width */
/*  - deleted: text-align, position, z-index */
.newsletter .content {
    max-width: 600px;
    margin: auto;
}
/* styling "email writing" section */
/*  - changed: border-color, border-radius */
.newsletter .content .form-control {
    border-color: #b3350e;
    border-radius: 10px 0px 0px 10px;
    height: 50px;
}
/* styling button */
/*  - changed: background, border-radius, font-weight */
/*  - deleted: min-height */
.newsletter .content .btn {
    background: #b3350e;
    color: #fff;
    border-radius: 0px 10px 10px 0px;
    font-weight: 400;
    height: 50px;
}
/* code below was written by me */
/* styling button on hover */
.newsletter .content .btn:hover {
    background: #c94116;
}
/* newsletter headers base text colour and padding*/
.newsletter-header {
    padding-bottom: 20px;
    color: black;
}

/*----------*/
/* Scroll to the top button */
/* - This section was modified from the template*/
/*----------*/

/* button position */
/*  - changed: bottom and z-index*/
.scroll-to-top-button {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 70px;
    z-index: 100;
}
/* button styling */
/*  - changed: colour, size, transistion time */
.scroll-to-top-button i {
    display: flex;
    width: 60px;
    height: 40px;
    font-size: 30px; /* font size is needed to adjust the size of the icon*/
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    align-items: center;
    justify-content: center;
    color: #b3350e;
    transition: all 0.3s;
}
/* button on hover styling */
.scroll-to-top-button i:hover {
    background: darkgrey;
    color: #b3350e;
}

/*----------*/
/* Toggle dark mode button */
/* - This section was modified and copied from "Scroll to the top button" section above */
/*----------*/

/* button position*/
.dark-mode-button {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 20px;
    z-index: 110;
}
/* button styling */
.dark-mode-button i {
    display: flex;
    width: 60px;
    height: 40px;
    font-size: 30px; /* font size is needed to adjust the size of the icon*/
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    align-items: center;
    justify-content: center;
    color: #b3350e;
    transition: all 0.3s;
}
/* button on hover styling */
.dark-mode-button i:hover {
    background: darkgrey;
    color: #b3350e;
}

/*----------*/
/* Header */
/* - This section was modified from the template*/
/*----------*/

/* header base styling */
/*  - deleted: background */
#header {
    z-index: 99;
    transition: all 0.3s;
    padding: 20px 0;
}
/* makes header in fixed position*/
/* - this code is written by myself*/
.header-fixed-pos {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0; 
}
/* header when user is below the fixed y coordinate (script.js file) */
/*  - changed: different padding and background values */
#header.header-scrolled {
    padding: 5px 0;
    background: rgba(179, 53, 14, 0.7);
}
/* logo size, positioning and styling*/
/*  - changed: positioning of the logo */
#header .logo h1 {
    padding-left: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin: 0;
    line-height: 1;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/* logo on hover styling*/
#header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}
/* @media to adjust the font-size of the logo*/
/*  - changed: font-size */
/*  - added: @media for the container-fluid */
@media (max-width: 768px) {
    
    #header .logo h1 {
        font-size: 30px;
    }
    /* container-fluid padding to make sure everything is aligned*/
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*----------*/
/* Desktop Navigation Menu */
/* - This section was modified from the template*/
/*----------*/

/* navbar spacing and positioning*/
/*  - changed: positioning */
.nav-menu,.nav-menu * {
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    list-style: none;
}
/* navbar buttons alignment*/
/*  - deleted: white-space */
.nav-menu > ul > li {
    position: relative;
    float: left;
}
/* navbar buttons*/
/*  - changed: padding, font-size */
.nav-menu a {
    display: block;
    position: relative;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
}
/* navbar buttons on hover */
/*  - changed: colour */
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: rgb(250, 109, 66);
    text-decoration: none;
}

/*----------*/
/* Mobile Navigation Menu*/
/* * When user is using smaller screen device this code applies*/
/* - This section was modified from the template*/
/*----------*/

/* navigation menu at the top of the page */
/*  - deleted: cursor, outline, line-height, text-align */
.mobile-nav-toggle { 
    position: fixed;
    right: 15px;
    top: 26px;
    z-index: 111;
    border: none;
    background: none;
    font-size: 25px;
    transition: all 0.3s;
}
/* navigation menu position when user scrolls down */
.mobile-nav-toggle-scrolled {
    top: 12px;
}
/* colour of the navigation menu*/
.mobile-nav-toggle i {
  color: #fff;
}
/* navigation menu itself*/
/*  - added: text-align, height */
/*  - deleted: bottom*/
/*  - changed: positioning, colour*/
.mobile-nav { 
    z-index: 102;
    overflow-y: auto;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 15px;
    left: 15px;
    padding: 10px 0;
    height: 200px;
    border-radius: 20px;
    background: ghostwhite;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
}

/* navigation menu list*/
.mobile-nav * {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/* navigation menu list bars*/
.mobile-nav a {
    display: block;
    position: relative;
    color: black;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}
/* navigation menu list bars on hover */
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    background-color: rgba(219, 95, 57, 0.8);
    text-decoration: none;
}
/* background goes darker when user opens the navbar list*/
.mobile-nav-overly {
    position: fixed;
    background: rgba(11, 11, 11, 0.6);
    overflow: hidden;
    display: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: ease-out 0.2s;
}
/* opacity of the navbar list*/
.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

/*----------*/
/* Welcome section - image and text user sees first*/
/* - This section was modified from the template (name of this section is also changed)*/
/*----------*/

/* welcome background image*/
/*  - changed: height, image*/
.welcome {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url('../images/bg_games.jpg') top center;
    background-size: cover;
}
/* background image overlay*/
/*  - changed: background*/
.welcome:before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(10, 44, 44, 0.5);
}
/* text on the background*/
/*  - added: margin-top*/
/*  - deleted: padding*/
.welcome .container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
}
/* welcome section upper text (big) h2 styling*/
/*  - deleted: margin*/
/*  - changed: font-size, font-weight, line-height*/
.welcome h2.big {
    font-size: 45px;
    font-weight: 600;
    line-height: 76px;
    text-transform: uppercase;
    color: #fff;
}
/* welcome section h2 styling*/
/*  - changed: color*/
.welcome h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
}
/* this @media allows background's parallax effect only on bigger screens*/
@media (min-width: 1024px) {
    
    .welcome {
        background-attachment: fixed;
        }
    }

/* shrinks the text size on smaller screens */
@media (max-width: 768px) {
    
    .welcome h2.big {
        font-size: 28px;
        line-height: 36px;
    }
    /* added: margin-left, margin-right*/
    .welcome h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

/*----------*/
/* Latest games news section*/
/* - this code is written by myself*/
/*----------*/

/* text colour when the page is white*/
.news-text-color {
    color: black;
}
/* section spacing*/
.news-section {
	padding-top: 40px;
	padding-bottom: 30px;
}
/* styling h3 heading in this section*/
.news-section h3, h4 {
    margin: 10px 15px 10px 15px;
    text-align: left;
    font-weight: 500;
    margin-top: 10px;
}
/* image styling*/
.latest-news-img {
    object-fit: cover;
    width: 100%; 
    height: 200px; 
    border-radius: 8px;
    margin-top: 40px; 
}
/* gifs styling*/
.latest-news-gif {
    object-fit: cover;
    width: 100%; 
    height: 400px; 
    border-radius: 8px;
    margin-top: 40px;
}
/* outline between the news (left-side bar)*/
.column-outline-left {
    margin-top: 20px;
    margin-bottom: 30px;
    border-left: 1px solid aqua;
}
/* outline between the news (right-side bar)*/
.column-outline-right {
    margin-top: 20px;
    margin-bottom: 30px;
    border-right: 1px solid aqua;
}
/* - I have decided to make the two row outlines version (upper and bottom) - this helped maintain responsiveness of them*/
/* --- */
/* outline between the upper/latest news rows*/
.row-outline-upper {
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgba(248, 248, 255, 0);
}
/* outline between the bottom/more news rows*/
.row-outline-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 1px;
    border-bottom: 1px solid aqua;
}

/* row outlines and images behaviour on small screen*/
@media (max-width: 575px) {
    
    /*changing the colour of rows to become "invisible" */
    .column-outline-left, .column-outline-right {
        border-color: rgba(248, 248, 255, 0);
    }
    .row-outline-upper {
        border-bottom-color: aqua; 
    }
    /* changing the margin of images*/
    .latest-news-img, .latest-news-gif {
        margin-top: 0px;
    }
}
/* making the positioning of outlines look as intended on smaller screens*/
@media (min-width: 576px) and (max-width: 991px) {
    
    .row-outline-bottom {
        margin-left: 4px;
    }
}
@media (max-width: 575px) {
    
    .row-outline-bottom {
        margin-right: -20px;
    }
}

/*----------*/
/* More news section */
/* - this code is written by myself*/
/*----------*/

/* more/bottom news spacing*/
.news-bottom {
    padding: 25px 15px 25px 10px;
}
/* bottom news image styling*/
.news-bottom .image {
    object-fit: cover;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;
    height: 200px;
    width: 355px;
    float: left;
}
/* h3 header styling*/
.news-bottom h3 {
    margin: 10px 15px 10px 15px;
    max-width: 435px;
    float: right;
}
/* padding of author column*/
.news-bottom-column {
    padding: 30px;
}
/* column image styling*/
.news-bottom-column .image {
    border-radius: 100%;
    width: 200px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 30px;
}
/* h3 header styling*/
.news-bottom-column h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
/* h4 header styling*/
.news-bottom-column h4 {
    font-weight: 400;
}

/* bottom news images and text styling for large screen*/
@media (max-width: 1274px) {
    
    .news-bottom h3{
        max-width: none;
    }
    .news-bottom .image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
/* column image styling from very small to bigger screen*/
@media (max-width: 991px){
    
    .news-bottom-column .image {
        width: 180px;
        height: 150px;
        margin-bottom: 0px;
        margin-top: 10px;   
    }
}

/*----------*/
/* Footer*/
/* - This section was modified from the template */
/*----------*/

/* footer base styling*/
/*  - added: background-color, padding text-align */
/*  - deleted: background*/
/*  - changed: font-size*/
footer {
    background-color: rgb(23, 26, 23);
    color: #fff;
    font-size: 15px;
    position: relative;
    padding: 30px 0px 30px 0;
    text-align: center;
}

/* size of the icons used*/
/* written by myself*/
/* icons: https://www.flaticon.com/categories/social-media */
footer .social-links-size { 
    margin-top: 3px;
    margin-left: 1px;
    width: 20px; 
    height: 20px;
}

/* size, positioning and colour of the buttons*/
/*  - deleted: font-size, margin*/
/*  - changed: background, height, width */
footer .social-links a { 
    display: inline-block;
    background: rgb(179, 53, 14);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 1;
    padding: 7px 0;
    margin: 0px 4px 15px 4px;
    border-radius: 100%;
    text-align: center;
    transition: 0.3s;
}
/* buttons styling on hover*/
footer .social-links a:hover {
    background: #fff;
}
/* styling of bottom lines of text*/
/*  - added: margin-top */
/*  - deleted: z-index, position, padding-bottom, text-align;*/
footer .footer-bottom {
    margin-top: 10px;
}

/* Two classes that are toggled when user switches to dark mode*/
/* - text is change to white*/
/* - the mobile navigation menu is changing background colour*/
.color-change-to-white-text {
    color: white;
}
.color-change-bg {
    background: #f76b52;
}